<div class="col-sm-10 form-group-lg">
  <p>
    navigation works!
  </p>
</div>

<div class="container">Home</div>

<div class="row center">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
</div>

<a href="https://www.bootstrapdash.com/use-bootstrap-4-with-angular/">Use Bootstrap with Angular</a>